@charset "utf-8";
/* 
 *  Page name
 *  Copyright 2024
 *  Author
 *  Licensed
 */

/* ------------------------ *\
    Content
\* ------------------------ */
/* 
 * Content ........... You are reading it!
 * Global ............ Set common styles
 * Layout ............ Set grid styles
 * Component ......... Set component styles
 */

/* ------------------------ *\
    Global
\* ------------------------ */
* {
  box-sizing: border-box;
  position: relative;
}

html, body {
  font-family: '微軟正黑體', arial;
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: #333;
}

/* ------------------------ *\
    Layout
\* ------------------------ */
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
  border: solid 1px #333;
}

.row {
  border: solid 1px blue;
  /* 抵銷 column 最外側的padding寬度，讓 column 內容可以滿版 */
  margin-left: -16px;
  margin-right: -16px;
}

.row:after{
  content: '';
  display: block;
  /* 清除 float 的雙向浮動 */
  clear: both;
}

.col-1-2, .col-1-3, .col-1-4 {
  border: solid 1px red;
  float: left;
  padding-left: 16px;
  padding-right: 16px;
}

.col-1-2{
  width: 50%
}

.col-1-3{
  width: 33.333333%
}

.col-1-4{
  width: 25%
}

/* ------------------------ *\
    Component
\* ------------------------ */

/* btn */
.btn {
  display: inline-block;
  vertical-align: top;
  font-size: 16px;
  line-height: 24px;
  padding: 4px 16px;
  border: solid 1px #fff;
  color: #fff;
  border-radius: 4px;
  transition: all 0.3s;
}

/* 主要的按鈕 */
.btn.btn-primary {
  background-color: #d5a26f;
  border: solid 1px #d5a26f;
  color: white;
}
.btn.btn-primary:hover {
  background-color: #b2875c;
  border: solid 1px #b2875c;
}

/* 次要的按鈕 */
.btn.btn-secondary {
  border-color: #d5a26f;
  color: #d5a26f;
}

.btn.btn-secondary:hover {
  background-color: #d5a26f;
  color: #fff;
}

/* 大小的設定 */
.btn.btn-lg {
  padding: 8px 32px;
}

.btn-group-center {
  /* border: solid 1px #fff; */
  text-align: center;
}

.btn-group-center .btn {
  margin-left: 12px;
  margin-right: 12px;
}

/* image-container */
.image-container {
  width: 100%;
  border: solid 1px #333;
}

.image-container::before{
  content: '';
  display: block;
  width: 100%;
  padding-top: 75%;
}

.image-container .image {
  position: absolute;
  /* 都設定成0，相當於是寬度、高度都設定成 100% */
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  background-repeat: no-repeat;
  /* 讓圖片自適應這個框 */
  background-size: cover; 
  background-position: center;
}

/* mask-dark */
.mask-dark {
  background-color: rgba(0, 0, 0, 0.7);
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* hero */
.hero{
  padding-top: 200px;
  padding-bottom: 200px;
  border: solid 1px #000;
}

.hero.hero-bg-white {
  background-color: #fefefe;
}

.hero.hero-bg-grey {
  background-color: #efefef;
}

/* navbar */
.navbar {
  /* border: solid 1px #000; */
  height: 64px;
  background-color: rgba(0, 0, 0, 0.8);
}

.navbar .brand {
  display: inline-block;
  vertical-align: top;
  /* border: 1px solid #000; */
  width: 160px;
  height: 64px;
  background-image: url('../images/common/logo.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  /* color: #fff; */
  /* 文字不要斷行 */
  white-space: nowrap;
  /* 文字縮排 */
  text-indent: 100%;
  overflow: hidden;
}

.navbar .nav {
  float: right;
}

.navbar .nav .nav-item {
  float: left;
}

.navbar .nav .nav-link {
  display: block;
  line-height: 24px;
  padding: 20px 16px;
  color: #fff;
  /* border: solid 1px #fff; */
  transition: color 0.3s;
}

.navbar .nav .nav-link:hover {
  color: #d5a26f;
}

/* jumbotron */
.jumbotron {
  /* border: solid 1px #000; */
  margin: 0 auto;
  padding-top: 224px;
  padding-bottom: 160px;
  background-image: url('/images//bg/bg001.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.jumbotron .logo-image {
  height: 320px;
  width: 320px;
  /* border: solid 1px #000; */
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
}

/* .jumbotron .btn-group-center {
  margin: 8px;
} */

/* about-preview */
.about-preview .title{
  font-size: 32px;
  color: #333;
  margin-bottom: 24px;
  margin-top: 80px;
}

.about-preview .para{
  font-size: 16px;
  line-height: 32px;
  /* 可以設定文字左右對齊 */
  text-align: justify;
  color: #333;
  margin-bottom: 24px;
}


/* section-intro */
.section-intro {
  text-align: center;
  margin-bottom: 40px;
}

.section-intro .title {
  font-size: 48px;
  color: #333;
  margin-bottom: 24px;
}

.section-intro .para {
  font-size: 16px;
  line-height: 32px;
  color: #333;
}

/* service-item */
.service-item .preview {
  padding-top: 16px;
}

.service-item .title {
  font-size: 24px;
  color: #333;
  margin-bottom: 8px;

  /* 不換行，變成單行 */
  white-space: nowrap;
  /* 超出的範圍自動隱藏 */
  overflow: hidden;
  /* 文字超出範圍的部分，改用省略符號(...)取代之 */
  text-overflow: ellipsis;
}

.service-item .subtitle {
  font-size: 14px;
  color: #d5a26f;
  margin-bottom: 16px;
}

.service-item .para {
  font-size: 16px;
  color: #333;
  line-height: 24px;
  margin-bottom: 24px;
  text-align: justify;

  /* 假設只要顯示三行的狀況
    透過算行高的方式去限制，
    缺點在於沒辦法像單行的資料，用 text-overflow: ellipsis，
    將結尾超出的文字用省略符號取代
   */
  height: 72px; /* 24 * 3 = 72 */
  /* border: solid 1px #000; */
  overflow: hidden;
}

/* reservation */
.reservation {
  background-image: url('../images/bg/bg002.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.reservation .section-intro .title,
.reservation .section-intro .para {
  color: #fff;
}